## Install with - "pip install -r requirements.txt"
# AI / LLM
google-generativeai
google-genai
# Speech-to-text (Whisper)
faster-whisper

# Audio I/O
sounddevice
numpy
soundfile
# TTS
pyttsx3

piper-tts

# Utilities
sqlite3  